body,
html {
  margin: 0;
  padding: 0;
}

.screen {
  background-color: var(--oxford);
  color: var(--text);
}

.home_body {
  padding: 60px 0 0 80px;
  display: flex;
  min-height: calc(100vh - 60px);
}

.screen > .body {
  min-height: calc(100vh - 60px);
  padding: 60px 0 0 80px;
}

.title_container {
  padding: 10px 30px;
  border-bottom: 1px solid gray;
}

.menu_item > .active,
.header_item.active {
  color: var(--led);
}

.table_container {
  padding: 30px 10px;
}

.head_inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_head_left {
  display: flex;
  align-items: center;
}

.table_head_button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--turbo);
  color: var(--text);
  cursor: pointer;
  width: 70px;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-decoration: none;
  transition: 0.4s;
}

.table_head_button:first-child {
  margin-left: 0;
}

.table_filter_serach_input {
  padding: 10px 13px;
  border-radius: 13px;
  border: 2px solid #ddd;
  margin: 8px 0;
  outline: none;
  transition: 0.3s;
}

.table_filter_serach_input:focus {
  border-color: var(--cur_back);
}

.table_button {
  padding: 5px;
  width: 50px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  background-color: var(--cur_back);
  margin: 0 5px;
  cursor: pointer;
  color: var(--text);
  transition: 0.4s;
}

.table_button:hover,
.table_head_button:hover {
  box-shadow: 0 0 4px #b8b8b8b3;
}

.input_container {
  margin-top: 40px;
}

.input_group_flex {
  display: flex;
  align-items: center;
  justify-content: start;
}

.input_group {
  margin-left: 10px;
  margin-top: 10px;
}

.input_group > label,
.input_group > input {
  display: block;
}

.input_group > input, .input_group > select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
  outline: none;
  transition: 0.3s;
  width: 300px;
}

.input_group>button {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--turbo);
  color: var(--text);
  cursor: pointer;
  border: none;
  font-size: 15px;
  transition: 0.4s;
}